{%extends "base.html"%}
    
{%block styles%}
<link rel="stylesheet" href="{{url_for('static', filename='css/edit_profile.css')}}">
{%endblock%}

{%include 'navbar.html'%}

{%block content%}
<body>
        <!-- Field for server messages-->
        {%for message in get_flashed_messages()%}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            {{message}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
		{%endfor%}

    <div class="container">
    <div class="profile-box">
    <form action="/edit_profile" method="post">
    <div class= "right-info">
        <div class="card-info">
            <h2>Edit Your Acount Details</h2>
            <div class="textfield">
                <label for="uname"><b>Name</b></label>
                <input id= "username" value="{{user.first_name}}"  type="text" placeholder="Name" name="first_name" required>
            </div>
            <div class="textfield"> 
                <label for="psw"><b>Last Name</b></label>
                <input id="password"value="{{user.last_name}}" type="text" placeholder="Last Name" name="last_name" required>
            </div>
            <div class="textfield"> 
                <label for="psw"><b>Email</b></label>
                <input id="password" value="{{user.email}}" type="text" placeholder="Email" name="email" required>
            </div>
            <div class="textfield"> 
                <label for="psw"><b>Phone Number</b></label>
                <input id="password" value="{{user.phone_number}}" type="text" placeholder="Phone Number" name="phone_number">
            </div>
            <div class="textfield"> 
                <label for="psw"><b>Adress</b></label>
                <input id="password" value="{{user.address}}" type="text" placeholder="Adress" name="address">
        </div>
        <br>
        <div class="more-info">
            <h2>Change Your Password</h2>
            <div class="textfield"> 
                <label for="psw"><b>Old Password</b></label>
                <input id="password" type="password" placeholder="Old Password" name="old_password" required>
            </div>
            <div class="textfield"> 
                <label for="psw"><b>New Password</b></label>
                <input id="password" type="password" placeholder="New Password" name="new_password" required>
            </div>
            <div class="textfield"> 
                <label for="psw"><b>Confirm New Password</b></label>
                <input id="password" type="password" placeholder="Confirm New Password" name="confirm_new_password" required>
            </div>
            <button class="btn-save">Save Changes</button>
        </div>
    </div>
    </form>
</body>
{% endblock %}